<!doctype html>
<html>
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
    <p>Hello Test World</p>
    <div
      class="flex shadow-lg border bg-gray-300 invert"
    >for tailwind css class test => test if tailwind class is in output css
    (as tailwind cli std/err out has zero indication if it found anything)
    </div>
</body>
